body {
	padding:2px;
	font-family: arial, helvetica;
	margin: 20px;
	width: 600px;
	padding-left: 25%;
	background-color: #00FFFF;

}

h1 {
	text-align: center;
}

ul {
	text-align: left;
}

#content {
	width: 500px;
	height: 250px;
	text-align: center; 
	padding: 25px; 
	border: 1px red solid;
	background-color: white;
}


#navbar {
	padding: 10px;
	display: inline;
	word-spacing: 10px;
	background-color:rgba(255,255,255, 0.5);
	margin: auto;
	border-radius: 15px;
	border: 2px solid red;
}

a:hover {
	color: red;
	background-color: #FFFF00;
	font-weight: bold;
	padding: 3.5px;
	border-radius: 10px; 

}